<!DOCTYPE html>
<html>

<head>
    <title>Dash Board</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" (click)="getUser(1)">1</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" (click)="getUser(2)">2</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" (click)="getUser(3)">3</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger" (click)="getUser(100)">100</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <ul type="circle">
                        <li><div class="form-group"> <label>Email</label>
                            <input type="text" class="form-control" formControlName="emailId" [value]="emailId"> 
                        </div>
                        </li>
                        <li> <div class="form-group"> <label>Name</label>
                            <input type="text" class="form-control" formControlName="name" [value]="name"> 
                        </div>
                        </li>
                    </ul>
                    <img src="{{avatar}}" alt="Image of the user">
                </div>
                
            </div>
        
        </form>
    </div>
</body>

</html>